{% extends 'base.html' %}

{% block content %}

<a href="/">Home</a>

<h1>{{ event.title }}</h1>

<p>{{ event.description}}</p>

<p><strong>Date:</strong>{{ event.date_and_time.strftime('%B %d, %Y') }}</p>
<p><strong>Time:</strong>{{ event.date_and_time.strftime('%I:%M %p') }}</p>

<p><strong>Number of Guests:</strong>{{ event.guests|length }}</p>

<form method="POST">
    <fieldset>
        <legend>RSVP</legend>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <p>
            <label>
                Your Name:
                <input type="text" name="guest_name">
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" name="returning" onchange="returningGuestChanged(this.checked)">
                Returning Guest?
            </label>
        </p>
        <div id="new-guest-info">
            <p>
                <label>
                    Your Email Address:
                    <input type="email" name="email">
                </label>
            </p>
            <p>
                <label>
                    Your Phone Number:
                    <input type="phone" name="phone">
                </label>
            </p>
        </div>
        <p>
            <input type="submit" name="submit" value="Add">
        </p>
    </fieldset>
</form>

<h2>Guests Attending:</h2>
<ul>
    {% for guest in event.guests %}
        <li><a href="{{ url_for('main.guest_detail', guest_id=guest.id) }}">{{ guest.name}}</a></li>
    {% else %}
        <li>No guests yet!</li>
    {% endfor %}
</ul>

{% endblock %}
